body, html{
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-size: 2em;
  color: #333;
  font-weight: 700;
}
h2 {
  font-size: 1.5em;
  color: gray;
  font-weight: 700;
  margin: 5px;
}
.tbox {
  background: #fbfbfb;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  -moz-border-radius: 4px;
}
.hd {
  padding: 0.5em 1em 0;
}
.hd .logo {
  margin: 0 0.2em 0 0.4em;
  position: relative;
  top: 4px;
}
#inputdiv {
  position: relative;
  height: 15%;
  text-align: center;
}
#txtdiv {
  position: relative;
  height: 30%;
  text-align: center;
  margin-top: 1.5rem;
}
#htmldiv {
  position: relative;
  height: 30%;
  text-align: center;
}
#textbox {
  font-size: 1em;
  width: 40%;
  height: 60%;
}
#outbox {
  font-size: 2em;
  width: 40%;
  height: 70%;
}
#htmlout {
  font-size: 2em;
  color: #9D9DFF;
}
#legend {
  text-align: center;
}
.pr {
  color: #9D9DFF;
  text-align: center;
}
.gr {
  color: #808080;
  text-align: center;
  font-family: monospace;
  color: red;
}
.tooltip {
  cursor: pointer;
}
.legend-box {
  display: none;
  padding:14px 20px;
  margin-top:-30px;
  margin-left:28px;
  height:30%;
  position:absolute;
  color:#111;
  border:1px solid #DCA;
  background:#fffAF0;
  overflow-y: scroll;
}
.tooltip span {
  border-radius:4px;
  box-shadow: 5px 5px 8px #CCC;
}
.tooltip table, th, td {
  border: 1px solid lightgray;
  border-collapse: collapse;
}
.tooltip td {
  font-size: x-large;
}
.tooltip th {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
h3 {
  color: gray;
  border: thin solid gray;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 5px;
}
.xs {
  color: #808080;
}
.ipa {
  color: #9D9DFF;
}
.icon {
  width: 16px;
}
footer {
  margin-top: 1.5rem;
  text-align: center;
}
.source-link {
  text-decoration: none;
  color: darkgray;
}
textarea {
  font-family: inherit;
}
